<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>About Us</title>
</head>
<body>
    <header>

    </header>

    <main>

        <section id="about" class="about">
            <h2>About Us</h2>
            <div class="aboutus">
              <div class="step fade-in-up">
                <div class="members">1</div>
                <h3>Contributors</h3>
                <p>Skills</p>
              </div>
              <div class="step fade-in-up">
                <div class="aboutus">2</div>
                <h3>Member2</h3>
                <p>Skills</p>
              </div>
              <div class="step fade-in-up">
                <div class="aboutus">3</div>
                <h3>Member3</h3>
                <p>Skills</p>
              </div>
            </div>
          </section>
      
          <section id="locations" class="locations">
              <ul id="list">
                  <li><i class="fa-brands fa-github"></i><a href="https://github.com/Murzuqisah/" target="_blank">Joel Adero</a></li>
                  <p class="about">
                       Joel is an apprentice software developer with a knack for creating engaging web applications. 
                       His expertise in frontend development and passion for clean design have been instrumental in shaping this project.
                  </p>
                  <li><i class="fa-brands fa-github"></i><a href="https://github.com//" target="_blank">JP</a></li>
                  <p class="about">
                        is an apprentice software developer whose backend skills in building scalable and efficient server-side solutions are unmatched. 
                       His skills ensure that our ASCII art generator performs smoothly and reliably.
                  </p>
                  <li><i class="fa-brands fa-github"></i><a href="https://github.com//" target="_blank">Cynthia</a></li>
                  <p class="about">
                        an apprentice software developer whose UI/UX design skills in creating intuitive and visually appealing user experiences are unfathomable. 
                       His design work ensures that our tool is not only functional but also user-friendly.
                  </p>
              </ul><br>
          </section>
    </main>
</body>
</html>