<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="/static/style/style.css"> -->
    <title>{{ Artists}}</title>
</head>
<body>
    <h1>Artists</h1>
    <ul>
        {{range $artist := .Artists}}
        <li>{{$artist.ID}}</li>
        <li>{{.Image}}</li>
        <li>{{.Name}}</li>
        <li>{{.Members}}</li>
        <li>{{.Creation}}</li>
        <li>{{.Album}}</li>
        <li>{{.Location}}</li>
        <li>{{.Concert}}</li>
        <li>{{.Relation}}</li>
        {{end}}
    </ul>
    <h1>Locations</h1>
    <ul>
        {{range .Locations}}
        <li>{{.Name}}</li>
        {{end}}
    </ul>
    <h1>Dates</h1>
    <ul>
        {{range .Dates}}
        <li>{{.Date}}</li>
        {{end}}
    </ul>
    <h1>Relations</h1>
    <ul>
        {{range .Relations}}
        <li>Artist ID: {{.ArtistID}}, Location ID: {{.LocationID}}, Date ID: {{.DateID}}</li>
        {{end}}
    </ul>
</body>
</html>